/* -------------------------------------------------------------- 
  
   main.css
   
-------------------------------------------------------------- */
/*reset default*/
body {
  margin: 0;
  padding: 0;
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background-color: #f8fbfd;
  word-wrap: break-word; 
}

ul {
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
	text-align:center;
}
ul li {
    float: left;
    display: inline;
    font: 0.9em Arial, Helvetica, sans-serif;
    height: 30px;
    width: 100px;
    list-style: none;
}
ul li a {
    color: #FFF;
    text-decoration: none;
    line-height: 36px;
    width: 91px;
    margin: 2px;
	margin-top: 0px;
    padding: 0px 0px 0px 8px;
    display: block;
    border-right: solid 1px #ccc;
    border-bottom:solid 1px #ccc;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	
    background: #0056F9;
	
}
ul li b {
    color: #FFF;
    text-decoration: none;
    line-height: 36px;
    width: 91px;
    margin: 2px;
	margin-top: 0px;
    padding: 0px 0px 0px 8px;
    display: block;
    border-right: solid 1px #ccc;
    border-bottom:solid 1px #ccc;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 0px;
	
    background: #0056F9;
	
}
ul li c {
    color: #FFF;
    text-decoration: none;
    line-height: 36px;
    width: 91px;
    margin: 2px;
	margin-top: 0px;
    padding: 0px 0px 0px 8px;
    display: block;
    border-right: solid 1px #ccc;
    border-bottom:solid 1px #ccc;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 10px;
	
    background: #0056F9;
	
}
ul li ul li { height:42px; }
ul li ul li a {
    background: #0056F9;
    line-height:38	px;
	-webkit-box-shadow: 2px 2px 4px	 #444;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;

}
ul li a:hover { 
background: #0056F9; 
color: #888888;
}
ul li ul { visibility: hidden; }
ul li:hover ul { visibility: visible; }	

/*main*/
#wrap_all {
  width: 960px;
  padding: 0 20px;
  margin: 0 auto 0 auto; }
#index_wrap_all {
  width: 960px;
  height: 71%;
  padding: 0 20px;
  margin: 0 auto 0 auto; }

#footer {
  width: 100%;
  color: #eeeeee;
  background-color: #292929;
  margin: 0px;
  line-height: normal; 
  bottom:0;
}
#footer_inner {
  
  margin-bottom: 0; }



#main_container, #footer_inner {
  margin: 0 auto 0 auto;
  width: 950px;
  padding: 0 5px;
  height: 10%;
  position: relative;
  margin-bottom: 0;
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding; 
}
#heart {
    position: relative;
    width: 100px;
    height: 90px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #f66;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

a {
	text-decoration: none;
	color: #333;
}

.two_col_left_inverse {
	float: left;
    	padding-right: 10px;
    	width: 390px;
}
.two_col_right_inverse {
    float: right;
    width: 550px;
}
.large_text {
  font-size: 2.25em;
  line-height: 1.2; 
}
.medium_text {
  font-size: 1.5em;
  line-height: 1.34; 
}
.title_button_inline, .helper_button_inline {
  display: inline-block; 
}
.title_button_inline a, .helper_button_inline a {
    font-size: 24px;
    float: left;
    background: white;
    border: 1px solid #cfcfcf;
    height: 29px;
    padding: 3px 16px 7px 16px;
    display: inline-block;
    margin-right: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    vertical-align: middle; 
}
.title_button_inline a:active, .helper_button_inline a:active {
      border: 1px solid #cfcfcf; 
}
.big_btn{
  border: 0;
  width: 28;
  background-color: #0059f6;
  margin: 10px 0;
  color: #f8fbfd;
  font-size: 36px;
  font-weight: bold;
  padding: 13px 20px 13px 20px;
  min-width: 222px;
  cursor: pointer;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  text-align: center; 
}
.logo_text {
  font-weight: bold;
  font-family: "ff-meta-serif-web-pro-1", "ff-meta-serif-web-pro-2", Georgia;
  font-style: italic; 
  }
  #statements_first_run_helper {
  border: 2px dashed #aaaaaa;
  padding: 8px 12px 10px 12px; 
  }
  .clear {
height: 1%;
clear: both;
}






